<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAybuiICrk9V8-VDuqUivBDZAFAeiUTAAU</string>
	<key>GCM_SENDER_ID</key>
	<string>769058541734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rhumbaApp</string>
	<key>PROJECT_ID</key>
	<string>rhumba-app</string>
	<key>STORAGE_BUCKET</key>
	<string>rhumba-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769058541734:ios:93d313a60f2e064f9b6467</string>
</dict>
</plist>